@media (max-width: 1000px) {
    .main-wrapper {
        display: none;
    }

    body {
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        background-size: cover;
        background-position: center;
    }

    body::after {
        display: block;
        content: "Данная страница не поддерживается на мобильных устройствах.";
        width: 280px;
        line-height: 140%;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        font-family: 'Arial';
    }

    .body__wrap {
        margin: 0 auto;
        align-items: center;
        position: inherit;
    }

    .body__img {
        max-width: 60px;
    }
    
}